
<!-- Hero section -->
<div class="css_hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/homeHero.jpg');">
  <h1 class="text-center">Food Delivery</h1>
</div>

<!-- Little store description -->
<div class="quote">
  <p class="text-center py-3 my-1" style="font-size: 1.1em;"><i>Good food is good mood.</i></p>
</div>

<main>
  <!-- Store features -->
  <section class="py-4 css_features">
    <h2 class="text-center py-3">Store Features</h2>
    <div class="container">
      <div class="row">
        {{#each feature}} 
        <div class="col-md-3 col-sm-6 p-3 text-center">
          <img class="css_featpic" src="{{image}}" alt="">
          <p class="my-0"><b>{{title}}</b></p>
          <p>{{desc}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </section>

  <!-- Top Meal Packages -->
  <section style="padding-top: 4em">
    <h2 class="text-center">Our Top Meal Packages</h2>
    <div class="container">
      <div class="row my-4">
        {{#each mealPackage}}
          {{#if topPackage}}
          <div class="col-lg-3 col-md-4 col-sm-6 text-center my-1">
            <img class="css_mealpic my-1" src={{image}} alt="">
            <p class="my-0"><b>{{name}}</b></p>
            <p>{{price}}</p>
          </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </section>

  <hr class="mx-5">

  <!-- Meals available -->
  <section style="padding-top: 5.2em">
    <h2 class="text-center">Ready to pick some dishes?</h2>
    <div class="container">
      <div class="row my-4">
        {{#each meal}}
        <div class="col-lg-3 col-md-4 col-sm-6 text-center my-1">
          <img class="css_mealpic my-1" src="{{image}}" alt="">
          <p class="my-0"><b>{{name}}</b></p>
          <p>{{price}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</main>