
<!-- Hero section -->
<div class="css_hero" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/mealsHero.jpg')">
  <h1 class="text-center">Meal Packages</h1>
</div>

<!-- Little meal packages description -->
<div class="quote">
  <p class="text-center py-3 my-1" style="font-size: 1.1em;"><i>There is no love sincerer than the love of food.</i></p>
</div>

<hr style="border: 2px solid #ffc122" class="mx-4 my-1">

<main>
  <!-- Meal packages -->
  <section>
    <div class="container py-5">
    <h2 class="text-center">Meal Packages</h2>
      <div class="row my-3">
        {{#each mealPackage}}
        <div class="col-lg-3 col-md-4 my-4">
          <img class="css_packpic my-1" src="img/{{img}}" alt="">
          <p class="my-1 text-center"><b>{{name}}</b></p>
          <p class="my-0" style="font-size: 0.9em;"><b>Price: </b>${{price}}</p>
          <p class="my-0" style="font-size: 0.9em;"><b>Category:</b> {{category}}</p>
          <p class="my-0" style="font-size: 0.9em;"><b>Items: </b>{{mealsNum}}</p>
          <p class="my-0" style="font-size: 0.9em;">{{desc}}</p>
        </div>
       {{/each}}
      </div>
    </div>
  </section>
</main>